@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --main-bg-color: #023047;
  --secondary-bg-color: #fa8400;
  --white: #ffffff;
  --gray: #dfdfe4;
  
  --secondary-font: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background-color: var(--main-bg-color);
}