.card {
    width: 400px;
    border: 2px var(--gray) solid;
    padding: 25px 0 25px 25px;
}

.card:hover{
    border: 2px var(--secondary-bg-color) solid;
    cursor: pointer;
}

.card:hover .card-tittle{
    color: var(--secondary-bg-color);
}

.card-tittle{
    font-weight: 700;
    color: var(--gray);
    font-size: 24px;
    margin-bottom: 15px;
}

.lista-card{
    display: flex;
    gap: 15px;
}

.item-lista-card{
    padding: 6px 13px;
    font-size: 16px;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 5px;
}