.logo-div {
    display: flex;
}

.logo-icon {
    width: 48px;
}

.logo-text {
    color: var(--white);
    font-family: var(--secondary-font);
    font-size: 40px;
    margin-left: 10px;
}

.logo-text span:nth-child(even) {
    color: var(--secondary-bg-color);
}